<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Fiocruz</title>
    <link rel="stylesheet" href="../static/css/styles_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <style>
        .btn{
            padding: 10px;
            margin: 5px 0;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 2px gray;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="login-box" style="text-align: center;">
            <h1>Bem-vindo!</h1>                
            <a href="{{url_for('login')}}" class="btn">
                <i class="fa-solid fa-user"></i>
                Login
            </a>
            <p>Deseja consultar o status do seu pedido? <a href="{{url_for('rastreamento')}}"><strong>Clique aqui</strong></a></p>                      
        </div>
        <div class="logo-box">
            <img src="../static/img/fiocruz_logo.png" alt="Logo Fiocruz">
        </div>
    </div>
</body>
</html>